@(countsPerDevice: Map[String, Map[String, Int]], networks: Set[String], site: UnifiSite)(implicit flash: Flash)

@main("Lunatech WiFi") {
    <h1>@site.name</h1>
    <h3>Connected WiFi devices</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Device</th>
                @for(network <- networks) {
                    <th>@network</th>
                }
            </tr>
        </thead>
        <tbody>
            @for(device <- countsPerDevice) {
                <tr>
                    <td>@device._1</td>
                    @for(network <- networks) {
                        <td class="@network">@device._2.getOrElse(network, 0)</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}