@import services.UnifiService.Device

@(countsPerDevice: Map[String, Map[String, Int]])(implicit flash: Flash)

@main("Lunatech WiFi") {
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Device</th>
                <th>LunatechEnterprise</th>
                <th>LunatechGuest</th>
                <th>LunatechDevices</th>
                <th>LunatechVOIP</th>
            </tr>
        </thead>
        <tbody>
            @for(device <- countsPerDevice) {
                <tr>
                    <td>@device._1</td>
                    <td>@device._2.getOrElse("LunatechEnterprise", 0)</td>
                    <td>@device._2.getOrElse("LunatechGuest", 0)</td>
                    <td>@device._2.getOrElse("LunatechDevices", 0)</td>
                    <td>@device._2.getOrElse("LunatechVOIP", 0)</td>
                </tr>
            }
        </tbody>
    </table>
}