@import helper._

@()(implicit flash: Flash, request: RequestHeader)

    @main("Lunatech WiFi") {
        <div class="row">
            <div class="col-sm">
                <h1>Lunatech WiFi</h1>
                <p>Manage your Lunatech Enterprise Wifi account.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <div class="btn-toolbar">
                    <form method="POST" action="@routes.UnifiController.wifi().url">
                        @CSRF.formField
                        <button class="btn btn-success" type="submit">Generate new password</button>
                    </form>
                </div>
            </div>
        </div>
    }
