@(clientId: String, state: String, path: String)(implicit flash: Flash)

@scripts = {
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
    <script>
            function start() {
                gapi.load('auth2', function () {
                    auth2 = gapi.auth2.init({
                        client_id: '@clientId'
                    });
                });
            }
    </script>
}

    @main("Login", scripts) {
        <div class="container well">
            <div>
                <h2>Lunatech WiFi</h2>
                <p class="description">
                    You must be a Lunatech employee with a valid google account to use this software.
                </p>

                <button id="signinButton">Sign in with Google</button>
                <script>
                        $('#signinButton').click(function () {
                            auth2.grantOfflineAccess().then(signInCallback);
                        });

                        function signInCallback(authResult) {
                            if (authResult['code']) {
                                $('#signinButton').hide();
                                $('.description').text("Processing login...");
                                window.location = "/authenticate?code=" + authResult['code'] + "&path=@path";
                            }
                        }
                </script>
                <div id="result"></div>
            </div>
        </div>
    }
